.button {
  background-color: #0073ff;
  border-color: #0073ff;
  border-radius: 5px;
  border-width: 0;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 5px 10px;
  &:disabled {
    background-color: gray;
  }
}

.dice-wrapper {
  height: 80vh;
  margin: auto;
  margin-bottom: 1rem;
  width: 200px;
  .dice {
    transform: scale(4, 4) translate(0, 40%);
  }
}
